* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 20% 1fr;
    height: 100vh;
    margin: 0 0;
    padding: 0;
}

.dashboard {
    background-color: #1992D4;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 2fr repeat(10, 1fr) 4fr;
    justify-items: start;
    color: white;
    padding: 25px;

}


.dash {
    transform: scale(1.9);
}


.items {
    font-weight: 700;
    font-size: 22px;
    display: grid;
    width: 100%;
    grid-template-columns: 20% 1fr;
    align-items: start;
    
}

.heading {
    font-size: 30px;
}

.icon {
    grid-column: 1 / 2;
}


.userPanel {
    grid-column: 2 / 3;
    box-shadow: -8px -4px 20px 0px grey;
    z-index: -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 25px;
    gap: 20px;
}

.search {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    gap: 20px;
}

#searchBar {
    background-color:#E2E8F0;
    border-style: none;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    
}

.userProfile {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    
}

.profileIcon {
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50%;
}

.userName {
    font-weight: 500;
    font-size: 18px;
}

.userMain {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr 1fr;
    font-weight: 500;
}

.bigIcon {
    width: 75px;
    height: 75px;
    background-color: yellow;
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: center;
}

.hiThere {
    align-self: end;
    margin-bottom: 5px;
}

.bigUserName {
    font-size: 24px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    gap: 30px;
    
}

.newButton, .uploadButton, .shareButton {
    background-color: #1992D4;
    color: white;
    height: 50px;
    padding: 10px 35px;
    border-radius: 50px;
    display: flex;
    align-items: center;

}
.main {
    background-color: #E2E8F0;
    z-index: -2;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 30%;
    padding: 5px 20px;
    gap: 20px;
}

.projects {
    display: grid;
    grid-template-rows: 35px 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 90%;
    
}

h3 {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    grid-column: 1 / 3;
    align-self: end;
    margin-bottom: -10px;
}

.card {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 6px 0px grey;
    border-inline-start: 10px solid goldenrod;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

.cardButtons {
    display: flex;
    justify-content: end;
    gap: 30px;
}

h4 {
    margin-bottom: -10px;
}

.card p {
    color: grey;
    font-weight: 400;
}

.sideBar {
    height: 90%;
    display: grid;
    grid-template-rows: 35px 1fr 35px 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
}

.announcementPanel {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 6px 0px grey;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;

}

.announcementPanel p {
    color: grey;
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
}

h5 {
    font-size: 14px;
    margin: 0;
    margin-bottom: 4px;
}

.site, .community {
    border-bottom: 2px solid lightgray;
    margin-bottom: 10px;
}

.trendingPanel {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 6px 0px grey;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100%;
    gap: 25px;
}

.user {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr 1fr;
    height: 50px;
    gap: 10px;
}

.userIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.userText {
    align-self: center;
    grid-row: 1 / 3;
}

.littleUser {
    font-weight: 400;
}

.flair {
    color: grey;
    font-size: 14px;
}

.icon1 {
    background-color: skyblue;
}

.icon2 {
    background-color: yellow;
}

.icon3 {
    background-color: grey;
}

.icon4 {
    background-color: palevioletred;
}